$color-white: #fff;
$color-black: #000;

$weight-thin: 100;
$weight-extralight: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi: 600;
$weight-bold: 700;
$weight-extrabold: 800;

$no-time: 0s;
$normal-time: .5s;
$short-time: .25s;
$xshort-time: .15s;

/***********************************************************************************************************/
@mixin border-radius($tl:50%, $tr:50%, $br:50%, $bl:50%) {
	-webkit-border-radius: $tl $tr $br $bl;
	-moz-border-radius: $tl $tr $br $bl;
	-ms-border-radius: $tl $tr $br $bl;
	border-radius: $tl $tr $br $bl;
}
@mixin translate($x:0,$y:0,$z:0) {
	-webkit-transform: translate3d($x,$y,$z);
	-moz-transform: translate3d($x,$y,$z);
	-ms-transform: translate3d($x,$y,$z);
	-o-transform: translate3d($x,$y,$z);
	transform: translate3d($x,$y,$z);
}
@mixin rotate($deg:0,$x:0,$y:0,$z:1) {
	-webkit-transform: rotate3d($x,$y,$z,$deg);
	-moz-transform: rotate3d($x,$y,$z,$deg);
	-ms-transform: rotate3d($x,$y,$z,$deg);
	-o-transform: rotate3d($x,$y,$z,$deg);
	transform: rotate3d($x,$y,$z,$deg);	
}
@mixin complexTransform($tx:0,$ty:0,$tz:0,$deg:0,$rx:0,$ry:0,$rz:0) {
	-webkit-transform: translate3d($tx,$ty,$tz) rotate3d($rx,$ry,$rz,$deg);
	-moz-transform: translate3d($tx,$ty,$tz) rotate3d($rx,$ry,$rz,$deg);
	-ms-transform: translate3d($tx,$ty,$tz) rotate3d($rx,$ry,$rz,$deg);
	-o-transform: translate3d($tx,$ty,$tz) rotate3d($rx,$ry,$rz,$deg);
	transform: translate3d($tx,$ty,$tz) rotate3d($rx,$ry,$rz,$deg);
}
@mixin complexTransformScale($tx:0,$ty:0,$tz:0,$sx:1,$sy:1,$sz:1) {
	-webkit-transform: translate3d($tx,$ty,$tz) scale3d($sx,$sy,$sz);
	-moz-transform: translate3d($tx,$ty,$tz) scale3d($sx,$sy,$sz);
	-ms-transform: translate3d($tx,$ty,$tz) scale3d($sx,$sy,$sz);
	-o-transform: translate3d($tx,$ty,$tz) scale3d($sx,$sy,$sz);
	transform: translate3d($tx,$ty,$tz) scale3d($sx,$sy,$sz);
}
@mixin scale($sx:1,$sy:1,$sz:1){
	-webkit-transform: scale3d($sx,$sy,$sz);
	-moz-transform: scale3d($sx,$sy,$sz);
	-ms-transform: scale3d($sx,$sy,$sz);
	-o-transform: scale3d($sx,$sy,$sz);
	transform: scale3d($sx,$sy,$sz);
}
@mixin skew($xdeg:0,$ydeg:0){
	-webkit-transform: skew($xdeg,$ydeg);
	-moz-transform: skew($xdeg,$ydeg);
	-ms-transform: skew($xdeg,$ydeg);
	-o-transform: skew($xdeg,$ydeg);
	transform: skew($xdeg,$ydeg);
}
@mixin box-shadow($x,$y,$size,$color) {
	-webkit-box-shadow: $x $y $size $color;
	-moz-box-shadow: $x $y $size $color;
	-o-box-shadow: $x $y $size $color;
	box-shadow: $x $y $size $color;
}
@mixin box-innershadow($x,$y,$size,$color) {
	-webkit-box-shadow: inset $x $y $size $color;
	-moz-box-shadow: inset $x $y $size $color;
	-o-box-shadow: inset $x $y $size $color;
	box-shadow: inset $x $y $size $color;
}
@mixin transition($d:$short-time,$to:$no-time,$target:all,$fn:linear) {
	-webkit-transition: $target $d $fn $to;
	-moz-transition: $target $d $fn $to;
	-o-transition: $target $d $fn $to;
	transition: $target $d $fn $to;
}
@mixin gradient($from:#fff,$to:#000,$d:top,$shift:0%) {
	background: $from;
	background: -moz-linear-gradient($d, $from $shift, $to 100%);
	background: -webkit-linear-gradient($d, $from $shift, $to 100%);
	background: -o-linear-gradient($d, $from $shift, $to 100%);
	background: linear-gradient($d, $from $shift, $to 100%);
}
@mixin flex($wrap:nowrap,$js:flex-start,$ai:flex-start,$ac:flex-start,$fd:row){
	-webkit-display: flex;
	-ms-display: flex;
	display: flex;
	-webkit-flex-direction: $fd;
	-ms-flex-direction: $fd;
	flex-direction: $fd;
	-webkit-flex-wrap: $wrap;
	-ms-flex-wrap: $wrap;
	flex-wrap: $wrap;
	-webkit-justify-content: $js;
	-ms-justify-content: $js;
	justify-content: $js;
	-webkit-align-items: $ai;
	-ms-align-items: $ai;
	align-items: $ai;
	-webkit-align-content: $ac;
	-ms-align-content: $ac;
	align-content: $ac;
}
@mixin image-box($width:1,$height:1) {
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		display: block;
		padding-top: percentage($height/$width);
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
}
@mixin clearfix() {
	&:before, &:after {
		content: '';
		display: table;
		clear: both;
	}
}
/***********************************************************************************************************/

@mixin rotating(){
	0% {
		@include rotate(0);
	}
	100% {
		@include rotate(360deg);
	}
}
@-webkit-keyframes rotating {
	@include rotating();
}
@-moz-keyframes rotating {
	@include rotating();
}
@-o-keyframes rotating {
	@include rotating();
}
@keyframes rotating {
	@include rotating();
}
/*********************************************** Loading Icon END **********************************************/
/************************************************************************************************************/
@media all and (max-width: 480px) {
	.visible-xs {
		display: block !important;
	}
	.hidden-xs {
		display: none !important;
	}
}